-# .row.mb-1
-#   = link_to "Listar todos los contactos", list_contacts_path, method: :get

-# .row.mb-1
-#   = link_to "Listar contactos fallidos", list_failed_contacts_path, method: :get

-# .row.mb-1
-#   = link_to "Listar archivos cargados", list_contact_files_path, method: :get

-# .form-group
-#   = form_for :upload_csv, url: contacts_manage_csv_path, html: { multipart: true, id: 'upload_csv_form' } do |f|
-#     .custom-file
-#       = f.file_field :file, accept: ".csv"
-#     = f.submit "Submit", id: 'uploadButton', class: 'btn btn-success'